.img {
    background: url(../photos/19.svg);
    position: relative;
    top: 0;
    left: 0;
    padding-top: 5px;
    padding-bottom: 15px;
    /* background-size: cover;
    background-attachment: fixed; */
    /* Preserve aspet ratio */
    min-width: 100%;
    min-height: 100%;
}

/* Starting form here for HistoryPage */
.table {
    border: 1px solid rgb(16, 14, 16) !important;
    box-shadow: 1px 8px 8px rgba(45, 24, 24, 0.2);
    
}

.table th,
.table td {
    border: 2px solid black;
    padding: 0.5rem;
}

.table tr {
    border: 1px solid rgb(4, 5, 4) !important;
} 

.img5 {
    background: url(../photos/19.svg);
    background-size: cover;
    position: fixed;
    min-width: 100%;
    min-height: 100%;

}

.div1 {
    width: 100%;
}

.div2 {
    width: 86%;
    margin: auto
}

/* till here css of HistoryPage */
/* 285 190 */

.Image {
    width: 285px;
    height: 190px;
}

.btn {
    background-color: #578ab6 !important;
    color: white !important;
    border: 1px solid white !important;
}

.img1 {
    background: url(../photos/bg2.jpg);
    position: relative;
    top: 0;
    left: 0;
    padding-top: 5px;

    /* Preserve aspet ratio */
    min-width: 100%;
    min-height: 100%;
}

.main1 {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 70%;
}

.main {
    display: flex;
    justify-content: center;
}

.card1 {
    width: 20rem;
    margin-right: 5px;
    margin-bottom: 15px;
    box-shadow: 4px 3px 3px rgba(0, 0, 0, 0.2);
}

.h2 {
    font-family: 'Times New Roman', Times, serif;
}

.buttons {
    display: flex;
    justify-content: space-around;
}
